<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmare Creare Cont</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
        <h2 style="color: #333;">Account created</h2>
        <p>Bună {{ fullname }},</p>
        <p>Your account has been created successfully.</p>
        <p>In order to access our app's services, log in using your username <strong>{{ user_name }}</strong>.</p>
        <p>Quick access to our app: footballproject.pythonanywhere.com </p>
        <p><a href="http://127.0.0.1:8000/login/" style="color: #007bff;">Accesează aplicația</a></p>
        <br>
        <p>Thank you for choosing us,</p>
        <p>F4E</p>
    </div>
</body>
</html>